extends layout 

block content 
    h1= title
    div.container-fluid
        - let dest = `dispatch(\"/university/create")`
        button.btn( class="btn-secondary ml-1", onclick = dest) Create
        div(class ="row m-1")
            each item, index in results
                - let destination = `dispatch(\"/university/update?id=${item._id}\")`
                - let destdelete = `dispatch(\"/university/delete?id=${item._id}\")`
                - let destdetails = `dispatch(\"/university/detail?id=${item._id}\")`
                div.col-sm-2(onclick=`buy(${index})`) #{item["University_Name"]}, #{item["University_Location"]}, #{item["Number_of_Courses_Offered"]}
                    br
                    button.btn( class="btn-warning ml-1", onclick= destination) Update
                    br
                    button.btn( class="btn-danger ml-1", onclick= destdelete) Delete
                    br
                    button.btn( class="btn-success ml-1", onclick= destdetails) Details

    script. 
        function dispatch(path) {
            window.location.href=path
        }

