extends layout 

block content 
    h1= title
    
    div.container-fluid
        div.row
            each item, index in results
                div.col-sm-2(onclick=`buy(${index})`) #{item["University_Name"]}, #{item["University_Location"]}, #{item["Number_of_Courses_Offered"]}
        

    script. 
        function buy(index) {
            alert("You purchased item " + index);
        }

